/*simple selectors*/
*{
   padding: 20px;
    margin: 20px;
}
div{
color: red;
}
#selector{
    background-color: aquamarine;
}
.list
{ color: brown;
    background-color: burlywood;
}

/*combine selector*/
div ol li { color: chocolate;}

.child > P {background-color: chartreuse;}

/* adjacent */

#adjacent + p {border: 5px rebeccapurple;}
#general ~ p { border: 2px salmon;}